.sideberRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sideberRow:hover{
    background-color: lightgray;
    border-radius:10px ;

}

.sideberRow >h4{
    margin-left: 20px;
    font-size: 600;
}

.sideberRow > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}


